.bc-red{
    background-color: brown;
}
.bc-blue{
    background-color: rgb(4, 4, 117);
}
.bc-grey{
    background-color: rgba(211, 211, 211, 0.315);
}
.bc-purple{
    background-color: rgba(212, 71, 247, 0.158);
}
.bc-white{
    background-color: white;
}
.bc-green{
    background-color: green;
}
.bc-dark-green{
    background-color: rgb(1, 65, 1);
}
.bc-orange{
    background-color: orangered;
}
.bc-black{
    background-color: black;
}
.tx-grey{
    color: rgb(145, 145, 145);
}
.tx-purple{
    color: rgba(128, 27, 153, 0.856);
}
.tx-white{
    color: white;
}
.tx-blue{
    color: rgb(4, 4, 117);
}
.tx-center{
    text-align: center;
}
.pd{
    padding: 1rem 1rem;
}
a{
   text-decoration: none;
   font-weight: bold;
}
.bd-radius{
    border-radius: 1rem;
}