*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 4rem;
    margin-bottom: 0.5rem;
}
.cat{
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}
a{
    width: 8rem;
    height: 1.4rem;
}